.nav-bar{
    width: 100%;
    position: fixed;
    color: white;
    opacity: 0.9;
    z-index: 2;
}

.nav-bar p{
    /* color: #2b3072; */
    font-size: 16px;
    font-family: Minion Pro,Times,serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.nav-bar a{
    text-decoration: none;
    color: inherit;
    margin: 0 15px;
}

.nav-bar.scrolled {
    color: #2b3072;
}

.vertical-home-btn {
    font-size: 1.3em;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
    .vertical-home-btn{
        font-size: 1em;
    }
    
}