.projects-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-content {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.projects-content h1 {
    position: relative;
    font-size: 1.5em;
    font-family: Minion Pro,Times,serif;
    color: #2b3072;
    margin-bottom: 25px;
}

.projects-content span, a {
    font-size: 1em;
    font-family: Minion Pro,Times,serif;
    color: #2b3072;
}

.projects-content a {
    text-decoration: none;
}

.projects-content h1::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px; /* Adjust the position of the line */
    transform: translateX(-50%);
    width: 150%; /* Adjust the width of the line to be longer than the text */
    height: 2px; /* Adjust the height of the line */
    background-color: #2b3072;
}